body{ 
    padding-left: 0;
    padding-right: 0;
} 
a{
    font-size: 1.0em;
}
#page-reservia{
    padding-left: unset;
    padding-right: unset;
}
/*header*/
header#mobile{
    display: initial;
}
header#mobile div#top-header,section#search,section#activities,footer{

    padding-right: 3%;
    padding-left: 3%;
}
section#accommodations{
    padding-left: unset;
    padding-right: unset;
}
header#mobile div#top-header ul{
    
    display:flex;
    justify-content: space-between;
    width:100%;
    height: 50px;
}
header#mobile div#top-header ul li#sign_up{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width:50%;
    height: 100%;
}
header#mobile nav{
    width:100%;
    height:40px;  
}
header#mobile nav ul{
    display:flex;
    justify-content: space-around;
    height: 100%;
}
header#mobile nav ul li{
    display: flex;
    box-sizing: border-box;  
    border-bottom: 3px solid #F2F2F2;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    padding : 0;
    overflow:hidden;
}
header#mobile nav ul li:hover{
    box-sizing: border-box;
    border-bottom: 3px solid #0065FC;
    
}
header#mobile nav ul li:hover a{
    color:#0065FC ;
    font-weight: bold;
}
header#desktop{
    display: none;
}
/*Search Engine*/
@media screen and (max-width:425px){ 
    div#search-engine form {
        width: 100%
    }
    div#search-engine form button#submit-search-icon{
        display: block;
        font-size: 0.85em;
        font-weight: bold;
        background-color: #0065FC;
        color: white;
        border: none;
        padding-left : 15px;
        padding-right: 15px;
    }
    div#search-engine form button#submit-search{
        display: none;
    }
    div#search-engine form input{
        flex:1
    }
}     
/* > Filters */

section#search div#filters{
    display: initial;    
}
section#search div#filters h2,section#search div#filters ul{
    margin-top: 20px;    
}
div#filters ul li{
    display: inline-block;
    flex-wrap:wrap;
}
/* info */
@media screen and (max-width:480px){
    section#search div#info p{  
        padding-top: 20px;
    }
} 

/*Accommodations*/
section#accommodations {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 30px;
    min-height: 625px;
    
}
section#accommodations > div {
    border-radius: unset;
}
@media screen and (max-width:375px) /*Mobile M dimensions*/ {
    section#accommodations > div {
        padding: 10px;
    }
}

#accommodations #marseille-accommodations{
    background-color: white;
}
#accommodations #popular-accommodations{
    /*Popular accomodations goes above Marseille accommodations (see mock-up)*/
    grid-column-start: 1;
    grid-row-start: 1;
  }

/*Images dimension*/
/*nth-child (1)Auberge la Cannebière (2)Hôtel du port (3)Hôtel les Mouettes 
(4)Hôtel de la mer (5)Auberge le Panier (6)Hôtel chez Amina*/


#accommodations-grid .accommodation:nth-child(2) .accommodation-img img{
    transform:initial;
}
#accommodations-grid .accommodation:nth-child(3) .accommodation-img img{
    transform:translateY(-50px)
}
#accommodations-grid .accommodation:nth-child(4) .accommodation-img img{
    transform:translateY(-95px)
}
#accommodations-grid .accommodation:nth-child(5) .accommodation-img img{
    transform:translateY(-30px)
}
#accommodations-grid .accommodation:nth-child(6) .accommodation-img img{
    transform:translateY(-180px)
}

@media screen and (max-width:560px){
    /*All the accomodations cards are aligned in 1 single column*/
    #accommodations-grid{
        grid-template-rows: unset;
    }
    #accommodations-grid .accommodation .accommodation-title {
        min-height: 60px
    }
    #accommodations-grid .accommodation:nth-child(2) .accommodation-img img{
        transform:translateY(-60px)
    }
    #accommodations-grid .accommodation:nth-child(4) .accommodation-img img{
        transform:translateY(-130px)
    }
    #accommodations-grid .accommodation:nth-child(6) .accommodation-img img{
        transform:translateY(-268px)
    }
}
@media screen and (max-width:485px){
    /*All the accomodations cards are aligned in 1 single column*/
    #accommodations-grid .accommodation:nth-child(2) .accommodation-img img{
        transform:translateY(-60px)
    }
    #accommodations-grid .accommodation:nth-child(4) .accommodation-img img{
        transform:translateY(-130px)
    }
    #accommodations-grid .accommodation:nth-child(6) .accommodation-img img{
        transform:translateY(-230px)
    }

}
/*Activities*/
/* :nth-child (1)Vieux Port (2)Fort de Pomègues (3)Parc Nat Calanques 
(4)ND de la Garde (5)Iles du Frioul (6)Parc Longchamp*/

 @media screen and (max-width:485px){
    /* Images dimensions*/
    section#activities #activities-grid .activity-img{
        display: unset;
    }
    section#activities  #activities-grid .activity:nth-child(1) .activity-img img{   
        transform: translateY(-30px);
    }    
    section#activities  #activities-grid .activity:nth-child(2) .activity-img img{   
        transform: translateY(-200px);
    }
    section#activities  #activities-grid .activity:nth-child(3) .activity-img img{   
        transform: translateY(-20px);
    }        
    section#activities  #activities-grid .activity:nth-child(4) .activity-img img{   
        transform: none;
    }
    section#activities  #activities-grid .activity:nth-child(5) .activity-img img{   
        transform: translateY(-10px);
    }
    section#activities  #activities-grid .activity:nth-child(6) .activity-img img{   
        transform: translateY(-40px);
    }
}
 @media screen and (max-width:375px){
    /* Images dimensions*/
    section#activities  #activities-grid .activity:nth-child(2) .activity-img img{   
        transform: translateY(-150px);
    }    
 } 