@font-face {
    font-family: 'Raleway';
    src: url("font/Raleway/Raleway-VariableFont_wght.ttf");
    font-style:normal;
    font-weight: 400;
   }
@font-face {
    font-family: 'Raleway';
    src: url("font/Raleway/static/Raleway-Bold.ttf");
    font-style:normal;
    font-weight: 700;
   }

body
{
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 0.85em;
    padding-left: 3%;
    padding-right: 3%;  
}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);;
}
h1{
    font-size: 1em;
    font-weight: bold;
}
/* header */
header
{
    display:flex;   
    margin : auto;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    font-size: 0.85em;
}
/* menu */
header#desktop nav{
    height : 100%;
    width:50%;
    
}
header#desktop nav ul{
    display: flex;    
    height : 100%;
}
header#desktop nav ul li
{
    display:flex; 
    height : 100%;
    width: 33.3%;
    align-items: center;
    justify-content: center;
}

header#desktop nav ul li:nth-child(1):hover, header#desktop nav ul li:nth-child(2):hover{
    box-sizing: border-box;
    border-top: 1px solid #0065FC;
    color: #0065FC;
}
header#desktop nav ul li#sign_up a, header#desktop nav ul li:hover a{
    font-weight: bold;
    color: #0065FC;
}

header#mobile{
    display: none;
}
